

.logo {
    font-family: 'Lobster', cursive;
}

.footer_button {
    font-size: .9rem;
}

.footer {
    text-align:center;
    margin-top: 2rem;
}


.header {
    text-align:center;
    margin: 2rem 0;
}

.contigo_px_div {
    text-align: center;
    max-width: 500px;
    margin: 4rem auto;
}
.contigo_500px_div {
    text-align: center;
    max-width: 500px;
    margin: 4rem auto;
}